# Local secrets
mqtt_secrets.py

# Generated client identity (created by tools/pair.py)
cert.pem
key.pem

# Python cache
__pycache__/
*.pyc

# Tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# macOS
.DS_Store

# Python environment
.venv

# Pycharm configs
.idea

# Local scratch / working notes
.scratchpad/